
h2,h3{
    text-align: center;
   
}
a:hover{
    color: black;
    font-size: x-large;
    cursor: pointer;
    font-style: italic;
}

table{
    min-width: 300px;
    
}

.col-last{
    background-color: bisque;
}
.col-antiquewhite{
    background-color: antiquewhite;
}
.break{
    -webkit-writing-mode: vertical-rl;
    text-align: center;
    text-rendering: optimizeLegibility;
}
.col-pink{
background-color: lightpink;
text-align: center;
}
.col-organe{
    background-color: orange;
    text-align: center;
}
.col-ligorange{
    background-color: lightsalmon;
}

.col-grey{
    background-color: lightgrey;
    text-align: center;
}
.col-aqua{
    background-color: aqua;
}
